# Virtual Environment
venv/
.env/


# Data files
data/*
!data/processed/
!data/processed/crimes_deploy_sample.csv


# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# Python cache
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
